In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/shivang98/Social-Network-ads-Boost/master/Social_Network_Ads.csv")
data

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
data=data.iloc[:,2:]
data

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

df=data.drop(['Gender','User ID'], axis= 1, inplace =True)
df

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
x = data.drop('Purchased',axis=1)
y = data.Purchased

print('Shape of x=', x.shape)
print('Shape of y=', y.shape)

Shape of x= (400, 2)
Shape of y= (400,)

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.30,random_state=5)


print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(280, 2)
(120, 2)
(280,)
(120,)

# Applied Standard Scaler

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
scaler = StandardScaler()
scaler.fit(x_train)
x_train_scaled=scaler.transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [9]:
scaler.mean_

array([3.78178571e+01, 6.89785714e+04])

In [10]:
x_train

     Age  EstimatedSalary
269   40            61000
26    49            28000
153   36            50000
321   53            82000
199   35            22000
..   ...              ...
73    33           113000
118   40            59000
189   28            32000
206   55           130000
355   60            34000

[280 rows x 2 columns]

In [11]:
x_test

     Age  EstimatedSalary
218   46            96000
191   19            26000
117   36            52000
50    24            32000
348   39            77000
..   ...              ...
157   29            75000
325   41            60000
224   35            60000
240   42           149000
227   56           133000

[120 rows x 2 columns]

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [13]:
data.describe()

              Age  EstimatedSalary   Purchased
count  400.000000       400.000000  400.000000
mean    37.655000     69742.500000    0.357500
std     10.482877     34096.960282    0.479864
min     18.000000     15000.000000    0.000000
25%     29.750000     43000.000000    0.000000
50%     37.000000     70000.000000    0.000000
75%     46.000000     88000.000000    1.000000
max     60.000000    150000.000000    1.000000

In [14]:
x_train_scaled = pd.DataFrame(x_train_scaled,columns=x_train.columns)
x_test_scaled = pd.DataFrame(x_test_scaled,columns=x_test.columns)

In [15]:
np.round(x_train_scaled.describe(),1)

         Age  EstimatedSalary
count  280.0            280.0
mean    -0.0             -0.0
std      1.0              1.0
min     -1.9             -1.6
25%     -0.8             -0.8
50%     -0.1              0.0
75%      0.8              0.5
max      2.1              2.4

# Build an logistic regression

In [19]:
from sklearn.linear_model import LogisticRegression as lr

In [20]:
lr = LogisticRegression()
lr_scaled = LogisticRegression()

In [23]:
lr.fit(x_train,y_train)
lr_scaled.fit(x_train_scaled,y_train)

LogisticRegression()

In [24]:
y_pred=lr.predict(x_test)
y_pred_scaled=lr_scaled.predict(x_test_scaled)

In [27]:
from sklearn.metrics import accuracy_score

In [28]:
print('Actual',accuracy_score(y_test,y_pred))
print('scaled',accuracy_score(y_test,y_pred_scaled))

Actual 0.65
scaled 0.8583333333333333

# Build an Decision Tree Classifier

In [30]:
from sklearn.tree import DecisionTreeClassifier

In [31]:
dt = DecisionTreeClassifier()
dta_scaled = DecisionTreeClassifier()

In [32]:
dt.fit(x_train,y_train)
dt_scaled.fit(x_train_scaled,y_train)

DecisionTreeClassifier()

In [33]:
y_pred=dt.predict(x_test)
y_pred_scaled=dt_scaled.predict(x_test_scaled)

In [34]:
print('Actual',accuracy_score(y_test,y_pred))
print('scaled',accuracy_score(y_test,y_pred_scaled))

Actual 0.8583333333333333
scaled 0.85